In [2]:
import pandas as pd

In [21]:
df_imdb_principals = pd.read_csv("title.principals.tsv", sep="\t")

In [22]:
df_imdb_principals_actors = df_imdb_principals[df_imdb_principals["category"] == "actor"]

In [23]:
df_imdb_principals_actors

             tconst  ordering     nconst category job            characters
14        tt0000005         1  nm0443482    actor  \N        ["Blacksmith"]
15        tt0000005         2  nm0653042    actor  \N         ["Assistant"]
17        tt0000007         1  nm0179163    actor  \N                    \N
18        tt0000007         2  nm0183947    actor  \N                    \N
24        tt0000008         1  nm0653028    actor  \N      ["Sneezing Man"]
...             ...       ...        ...      ...  ..                   ...
92539989  tt9916880         3  nm1483166    actor  \N  ["Mischievous Mike"]
92539990  tt9916880         4  nm1483166    actor  \N        ["Jolly Josh"]
92539992  tt9916880         6  nm0286175    actor  \N               ["Dad"]
92539993  tt9916880         7  nm0286175    actor  \N        ["Aerobic Al"]
92539994  tt9916880         8  nm0286175    actor  \N      ["Nasty Nicola"]

[21938501 rows x 6 columns]

In [15]:
df_imdb_principals

,tconst,ordering,nconst,category,job,characters
1,tt0000001,2,nm0005690,director,\N,\N
4,tt0000002,1,nm0721526,director,\N,\N
6,tt0000003,1,nm0721526,director,\N,\N
12,tt0000004,1,nm0721526,director,\N,\N
19,tt0000007,3,nm0005690,director,\N,\N
...,...,...,...,...,...,...
92539919,tt9916848,11,nm1485677,director,\N,\N
92539940,tt9916850,11,nm1485677,director,\N,\N
92539961,tt9916852,11,nm1485677,director,\N,\N
92539980,tt9916856,9,nm10538645,director,\N,\N
92540003,tt9916880,17,nm0996406,director,principal director,\N

In [13]:
df_imdb_principals = df_imdb_principals[df_imdb_principals["category"] == "director"]

In [8]:
df_imdb_ratings = pd.read_csv("title.ratings.tsv", sep="\t")

In [9]:
df_imdb_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2157
1        tt0000002            5.5       293
2        tt0000003            6.5      2194
3        tt0000004            5.3       187
4        tt0000005            6.2      2942
...            ...            ...       ...
1567160  tt9916846            5.8         6
1567161  tt9916848            5.8         6
1567162  tt9916850            5.8         6
1567163  tt9916852            5.8         6
1567164  tt9916880            7.7        10

[1567165 rows x 3 columns]

In [3]:
df_imdb_name_basics = pd.read_csv("name.basics.tsv", sep="\t")

In [8]:
df_imdb_name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
14371719,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14371720,nm9993716,Essias Loberg,\N,\N,\N,\N
14371721,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14371722,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14371723,nm9993719,Andre Hill,\N,\N,\N,\N

In [4]:
df_imdb_title_basics = pd.read_csv("title.basics.tsv", sep="\t")

/var/folders/rk/8pzvl099435clcdyv92yg08h0000gn/T/ipykernel_13358/3518494202.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb_title_basics = pd.read_csv("title.basics.tsv", sep="\t")

In [10]:
df_imdb_title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11655939,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11655940,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11655941,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11655942,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11655943,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [12]:
df_imdb_title_basics["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [5]:
df_imdb_title_basics = df_imdb_title_basics[df_imdb_title_basics["titleType"] == "movie"]
df_imdb_title_basics = df_imdb_title_basics[df_imdb_title_basics["isAdult"] == 0]

In [6]:
df_imdb_title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
11655835,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
11655862,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
11655874,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11655884,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
11655894,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [ ]:
df_imdb = pd.merge(df_imdb_title_basics,  # DataFrame de gauche
         df_imdb_ratings,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='tconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='tconst')  # Colonne clÃ© du DataFrame de droite

In [18]:
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,224.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,558.0
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,21.0
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,986.0
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.6,31.0
...,...,...,...,...,...,...,...,...,...,...,...
703218,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary,NaN,NaN
703219,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,NaN
703220,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9.0
703221,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,13.0
703222,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,NaN

In [11]:
df_imdb_name_basics = pd.read_csv("name.basics.tsv", sep="\t")

In [ ]:
df_imdb_name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
14371719,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14371720,nm9993716,Essias Loberg,\N,\N,\N,\N
14371721,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14371722,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14371723,nm9993719,Andre Hill,\N,\N,\N,\N

In [16]:
df_imdb_name = pd.merge(df_imdb_principals,  # DataFrame de gauche
         df_imdb_name_basics,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='nconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='nconst')  # Colonne clÃ© du DataFrame de droite

In [17]:
df_imdb_name

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
1,tt0000002,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
2,tt0000003,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
3,tt0000004,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
4,tt0000007,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
...,...,...,...,...,...,...,...,...,...,...,...
7962226,tt9916848,11,nm1485677,director,\N,\N,Hamdi Alkan,1967,\N,"director,writer,actor","tt1289683,tt1134549,tt7230418,tt8586316"
7962227,tt9916850,11,nm1485677,director,\N,\N,Hamdi Alkan,1967,\N,"director,writer,actor","tt1289683,tt1134549,tt7230418,tt8586316"
7962228,tt9916852,11,nm1485677,director,\N,\N,Hamdi Alkan,1967,\N,"director,writer,actor","tt1289683,tt1134549,tt7230418,tt8586316"
7962229,tt9916856,9,nm10538645,director,\N,\N,Johan Planefeldt,\N,\N,director,tt9916856
7962230,tt9916880,17,nm0996406,director,principal director,\N,Hilary Audus,\N,\N,"director,animation_department,art_department","tt0082509,tt0286490,tt2560206,tt0090315"

In [29]:
df_imdb_final_ok = pd.merge(df_imdb,  # DataFrame de gauche
         df_imdb_name,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='tconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='tconst')  # Colonne clÃ© du DataFrame de droite

In [30]:
df_imdb_final_ok

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,4.0,nm0085156,director,\N,\N,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,...,6.0,nm0714557,director,\N,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,3.0,nm0063413,director,\N,\N,Ricardo de BaÃ±os,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,...,11.0,nm0846879,director,\N,\N,Charles Tait,1868,1933,"director,writer",tt0000574
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.6,...,5.0,nm0141150,director,\N,\N,Michel CarrÃ©,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433594"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760914,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary,NaN,...,11.0,nm9272490,director,supervising director,\N,Angela Gurgel,\N,\N,"director,writer,producer","tt10011778,tt10011832,tt9916754,tt9910688"
760915,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,...,11.0,nm0652213,director,\N,\N,Luis Ospina,1949,2019,"director,writer,editor","tt0212522,tt0193438,tt1244730,tt0381135"
760916,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,...,11.0,nm7764440,director,\N,\N,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282"
760917,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,9.0,nm10538612,director,\N,\N,Kiran Gawade,\N,\N,"director,writer",tt9916730
760918,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,...,11.0,nm9272490,director,supervising director,\N,Angela Gurgel,\N,\N,"director,writer,producer","tt10011778,tt10011832,tt9916754,tt9910688"

In [37]:
df_imdb_final_pas_ok_test = pd.merge(df_imdb_final_ok,  # DataFrame de gauche
         df_imdb_principals_actors,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='nconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='nconst')  # Colonne clÃ© du DataFrame de droite

In [33]:
df_imdb_final_pas_ok

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,ordering_y,nconst_y,category_y,job_y,characters_y
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009,2.0,nm0183823,actor,\N,"[""Mr. Hamilton""]"
1,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009,3.0,nm1309758,actor,\N,"[""Chauncey Depew - the Director of the New Yor..."
2,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,...,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676",NaN,NaN,NaN,NaN,NaN
3,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,Ricardo de BaÃ±os,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941",1.0,nm0215752,actor,\N,\N
4,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,Ricardo de BaÃ±os,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941",2.0,nm0252720,actor,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930390,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,Kiran Gawade,\N,\N,"director,writer",tt9916730,3.0,nm13233318,actor,\N,"[""Vishal""]"
2930391,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,Kiran Gawade,\N,\N,"director,writer",tt9916730,4.0,nm4852679,actor,\N,\N
2930392,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,Kiran Gawade,\N,\N,"director,writer",tt9916730,5.0,nm9050497,actor,\N,\N
2930393,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,Kiran Gawade,\N,\N,"director,writer",tt9916730,8.0,nm4289680,actor,\N,\N
2930394,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,...,Angela Gurgel,\N,\N,"director,writer,producer","tt10011778,tt10011832,tt9916754,tt9910688",NaN,NaN,NaN,NaN,NaN

In [35]:
df_imdb_final_ok.to_csv("df_imdb_final_ok.csv", index=False)

In [36]:
df_imdb_final_pas_ok.to_csv("df_imdb_final_pas_ok.csv", index=False)

In [38]:
df_imdb_final_pas_ok_test

,tconst_x,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tconst_y,ordering_y,category_y,job_y,characters_y
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009,NaN,NaN,NaN,NaN,NaN
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,...,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676",NaN,NaN,NaN,NaN,NaN
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,Ricardo de BaÃ±os,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941",NaN,NaN,NaN,NaN,NaN
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,...,Charles Tait,1868,1933,"director,writer",tt0000574,NaN,NaN,NaN,NaN,NaN
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.6,...,Michel CarrÃ©,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433594",tt0012989,6.0,actor,\N,"[""Le comte de Boisrabault""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027598,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,...,Luis Ospina,1949,2019,"director,writer,editor","tt0212522,tt0193438,tt1244730,tt0381135",tt23854768,2.0,actor,\N,\N
7027599,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,...,Luis Ospina,1949,2019,"director,writer,editor","tt0212522,tt0193438,tt1244730,tt0381135",tt9916172,2.0,actor,\N,\N
7027600,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,...,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282",NaN,NaN,NaN,NaN,NaN
7027601,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,Kiran Gawade,\N,\N,"director,writer",tt9916730,NaN,NaN,NaN,NaN,NaN
7027602,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,...,Angela Gurgel,\N,\N,"director,writer,producer","tt10011778,tt10011832,tt9916754,tt9910688",NaN,NaN,NaN,NaN,NaN

In [42]:
df_imdb_final_pas_ok_test[df_imdb_final_pas_ok_test["tconst_x"] == "tt9916680"]

,tconst_x,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tconst_y,ordering_y,category_y,job_y,characters_y
7027598,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,...,Luis Ospina,1949,2019,"director,writer,editor","tt0212522,tt0193438,tt1244730,tt0381135",tt23854768,2.0,actor,\N,\N
7027599,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,...,Luis Ospina,1949,2019,"director,writer,editor","tt0212522,tt0193438,tt1244730,tt0381135",tt9916172,2.0,actor,\N,\N