In [1]:
import pandas as pd

In [2]:
df_imdb_principals = pd.read_csv("title.principals.tsv", sep="\t")

In [3]:
df_imdb_principals

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
...,...,...,...,...,...,...
92540003,tt9916880,17,nm0996406,director,principal director,\N
92540004,tt9916880,18,nm1482639,writer,\N,\N
92540005,tt9916880,19,nm2586970,writer,books,\N
92540006,tt9916880,20,nm1594058,producer,producer,\N
92540007,tt9916880,21,nm1482639,producer,producer,\N

In [4]:
mask1 = (df_imdb_principals["category"] == "director") 
mask2 = (df_imdb_principals["category"] == "actor")

In [5]:
df_imdb_principals_actors_directors = df_imdb_principals[mask1|mask2]

In [6]:
df_imdb_principals_actors_directors

,tconst,ordering,nconst,category,job,characters
1,tt0000001,2,nm0005690,director,\N,\N
4,tt0000002,1,nm0721526,director,\N,\N
6,tt0000003,1,nm0721526,director,\N,\N
12,tt0000004,1,nm0721526,director,\N,\N
14,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
...,...,...,...,...,...,...
92539990,tt9916880,4,nm1483166,actor,\N,"[""Jolly Josh""]"
92539992,tt9916880,6,nm0286175,actor,\N,"[""Dad""]"
92539993,tt9916880,7,nm0286175,actor,\N,"[""Aerobic Al""]"
92539994,tt9916880,8,nm0286175,actor,\N,"[""Nasty Nicola""]"
92540003,tt9916880,17,nm0996406,director,principal director,\N

In [7]:
df_imdb_ratings = pd.read_csv("title.ratings.tsv", sep="\t")

In [8]:
df_imdb_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2157
1        tt0000002            5.5       293
2        tt0000003            6.5      2194
3        tt0000004            5.3       187
4        tt0000005            6.2      2942
...            ...            ...       ...
1567160  tt9916846            5.8         6
1567161  tt9916848            5.8         6
1567162  tt9916850            5.8         6
1567163  tt9916852            5.8         6
1567164  tt9916880            7.7        10

[1567165 rows x 3 columns]

In [9]:
df_imdb_name_basics = pd.read_csv("name.basics.tsv", sep="\t")

In [10]:
df_imdb_name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
14371719,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14371720,nm9993716,Essias Loberg,\N,\N,\N,\N
14371721,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14371722,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14371723,nm9993719,Andre Hill,\N,\N,\N,\N

In [11]:
df_imdb_title_basics = pd.read_csv("title.basics.tsv", sep="\t")

/var/folders/rk/8pzvl099435clcdyv92yg08h0000gn/T/ipykernel_4754/3518494202.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb_title_basics = pd.read_csv("title.basics.tsv", sep="\t")

In [12]:
df_imdb_title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11655939,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11655940,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11655941,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11655942,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11655943,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [13]:
df_imdb_title_basics["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [14]:
df_imdb_title_basics = df_imdb_title_basics[df_imdb_title_basics["titleType"] == "movie"]
df_imdb_title_basics = df_imdb_title_basics[df_imdb_title_basics["isAdult"] == 0]

In [15]:
df_imdb_title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
11655835,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
11655862,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
11655874,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11655884,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
11655894,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [16]:
df_imdb = pd.merge(df_imdb_title_basics,  # DataFrame de gauche
         df_imdb_ratings,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='tconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='tconst')  # Colonne clÃ© du DataFrame de droite

In [17]:
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,224.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,558.0
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,21.0
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,986.0
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.6,31.0
...,...,...,...,...,...,...,...,...,...,...,...
703218,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary,NaN,NaN
703219,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,NaN,NaN
703220,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9.0
703221,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,13.0
703222,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,NaN

In [18]:
df_imdb_name_basics = pd.read_csv("name.basics.tsv", sep="\t")

In [19]:
df_imdb_name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
14371719,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14371720,nm9993716,Essias Loberg,\N,\N,\N,\N
14371721,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14371722,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14371723,nm9993719,Andre Hill,\N,\N,\N,\N

In [20]:
df_imdb_name = pd.merge(df_imdb_principals_actors_directors,  # DataFrame de gauche
         df_imdb_name_basics,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='nconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='nconst')  # Colonne clÃ© du DataFrame de droite

In [21]:
df_imdb_name

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
1,tt0000002,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
2,tt0000003,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
3,tt0000004,1,nm0721526,director,\N,\N,Ã‰mile Reynaud,1844,1918,"director,animation_department,producer","tt0000003,tt32169968,tt16763740,tt16763674"
4,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]",Charles Kayser,1878,1966,actor,\N
...,...,...,...,...,...,...,...,...,...,...,...
29900727,tt9916880,4,nm1483166,actor,\N,"[""Jolly Josh""]",Aidan Cook,\N,\N,"actor,miscellaneous,special_effects","tt3748528,tt3778644,tt2488496,tt2527338"
29900728,tt9916880,6,nm0286175,actor,\N,"[""Dad""]",Wayne Forester,\N,\N,"actor,sound_department,special_effects","tt1710626,tt0453557,tt1135081,tt1699440"
29900729,tt9916880,7,nm0286175,actor,\N,"[""Aerobic Al""]",Wayne Forester,\N,\N,"actor,sound_department,special_effects","tt1710626,tt0453557,tt1135081,tt1699440"
29900730,tt9916880,8,nm0286175,actor,\N,"[""Nasty Nicola""]",Wayne Forester,\N,\N,"actor,sound_department,special_effects","tt1710626,tt0453557,tt1135081,tt1699440"
29900731,tt9916880,17,nm0996406,director,principal director,\N,Hilary Audus,\N,\N,"director,animation_department,art_department","tt0082509,tt0286490,tt2560206,tt0090315"

In [22]:
df_imdb_final_ok = pd.merge(df_imdb,  # DataFrame de gauche
         df_imdb_name,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='tconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='tconst')  # Colonne clÃ© du DataFrame de droite

In [23]:
df_imdb_final_ok

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,2.0,nm0183823,actor,\N,"[""Mr. Hamilton""]",William Courtenay,1875,1933,actor,"tt0000009,tt0020355,tt0021535,tt0020403"
1,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,3.0,nm1309758,actor,\N,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,1834,1928,"actor,writer","tt0000009,tt0490842,tt1076833,tt4484306"
2,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,4.0,nm0085156,director,\N,\N,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
3,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,...,6.0,nm0714557,director,\N,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
4,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,1.0,nm0215752,actor,\N,\N,Antonio del Pozo,\N,\N,actor,tt0000502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236516,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,4.0,nm4852679,actor,\N,\N,Bhushan Pradhan,\N,\N,actor,"tt14773818,tt4654964,tt31322372,tt11779744"
3236517,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,5.0,nm9050497,actor,\N,\N,Pranav Raorane,\N,\N,actor,"tt10127302,tt14045622,tt8010920,tt21881450"
3236518,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,8.0,nm4289680,actor,\N,\N,Atul Todankar,\N,\N,actor,"tt3556240,tt10515526,tt27301206,tt4612924"
3236519,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,...,9.0,nm10538612,director,\N,\N,Kiran Gawade,\N,\N,"director,writer",tt9916730
3236520,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,...,11.0,nm9272490,director,supervising director,\N,Angela Gurgel,\N,\N,"director,writer,producer","tt10011778,tt10011832,tt9916754,tt9910688"

In [24]:
df_imdb_final = df_imdb_final_ok.drop(["birthYear","deathYear"], axis=1)
df_imdb_final = df_imdb_final_ok.drop(["titleType","isAdult", "endYear", "job", "knownForTitles"], axis=1)

In [25]:
df_imdb_final

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,ordering,nconst,category,characters,primaryName,birthYear,deathYear,primaryProfession
0,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,2.0,nm0183823,actor,"[""Mr. Hamilton""]",William Courtenay,1875,1933,actor
1,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,3.0,nm1309758,actor,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,1834,1928,"actor,writer"
2,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,4.0,nm0085156,director,\N,Alexander Black,1859,1940,"director,writer,cinematographer"
3,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",5.3,558.0,6.0,nm0714557,director,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor"
4,tt0000502,Bohemios,Bohemios,1905,100,\N,3.8,21.0,1.0,nm0215752,actor,\N,Antonio del Pozo,\N,\N,actor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236516,tt9916730,6 Gunn,6 Gunn,2017,116,Drama,7.0,13.0,4.0,nm4852679,actor,\N,Bhushan Pradhan,\N,\N,actor
3236517,tt9916730,6 Gunn,6 Gunn,2017,116,Drama,7.0,13.0,5.0,nm9050497,actor,\N,Pranav Raorane,\N,\N,actor
3236518,tt9916730,6 Gunn,6 Gunn,2017,116,Drama,7.0,13.0,8.0,nm4289680,actor,\N,Atul Todankar,\N,\N,actor
3236519,tt9916730,6 Gunn,6 Gunn,2017,116,Drama,7.0,13.0,9.0,nm10538612,director,\N,Kiran Gawade,\N,\N,"director,writer"
3236520,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,49,Documentary,NaN,NaN,11.0,nm9272490,director,\N,Angela Gurgel,\N,\N,"director,writer,producer"

In [26]:
df_imdb_final = df_imdb_final_ok.groupby(['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'genres','originalTitle', 'averageRating', "numVotes"], as_index=False).agg({'nconst': list, 'category': list, 'characters': list, "primaryName":list, "primaryProfession":list})
df_imdb_final.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres,originalTitle,averageRating,numVotes,nconst,category,characters,primaryName,primaryProfession
0,tt0000009,Miss Jerry,1894,45,Romance,Miss Jerry,5.4,224.0,"[nm0183823, nm1309758, nm0085156]","[actor, actor, director]","[[""Mr. Hamilton""], [""Chauncey Depew - the Dire...","[William Courtenay, Chauncey Depew, Alexander ...","[actor, actor,writer, director,writer,cinemato..."
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",The Corbett-Fitzsimmons Fight,5.3,558.0,[nm0714557],[director],[\N],[Enoch J. Rector],"[director,cinematographer,editor]"
2,tt0000502,Bohemios,1905,100,\N,Bohemios,3.8,21.0,"[nm0215752, nm0252720, nm0063413]","[actor, actor, director]","[\N, \N, \N]","[Antonio del Pozo, El Mochuelo, Ricardo de BaÃ±os]","[actor, actor, director,cinematographer,writer]"
3,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",The Story of the Kelly Gang,6.0,986.0,"[nm0846894, nm1431224, nm3002376, nm0143899, n...","[actor, actor, actor, actor, actor, actor, act...","[[""School Master""], [""Joe Byrne""], [""Steve Har...","[John Tait, Nicholas Brierley, Norman Campbell...","[producer,actor,archive_footage, actor, actor,..."
4,tt0000591,The Prodigal Son,1907,90,Drama,L'enfant prodigue,5.6,31.0,"[nm0906197, nm0332182, nm0141150]","[actor, actor, director]","[\N, \N, \N]","[Georges Wague, Henri Gouget, Michel CarrÃ©]","[actor, actor, director,writer,actor]"

In [27]:
df_tmdb = pd.read_csv("tmdb_full.csv")
df_tmdb.head()

/var/folders/rk/8pzvl099435clcdyv92yg08h0000gn/T/ipykernel_4754/3973242045.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv("tmdb_full.csv")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,['Comedy'],NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7,['Columbia Pictures'],['US']
1,False,NaN,0,['Adventure'],NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0,[],[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"['Drama', 'Romance']",NaN,8773,tt0055747,fr,L'Amour Ã vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"['Drama', 'Comedy', 'Crime']",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248,['Villealfa Filmproductions'],['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"['Drama', 'Comedy', 'Romance']",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269,['Villealfa Filmproductions'],['FI']

In [28]:
df_tmdb["overview"][0]

'Blondie and Dagwood are about to celebrate their fifth wedding anniversary but this happy occasion is marred when the bumbling Dagwood gets himself involved in a scheme that is promising financial ruin for the Bumstead family.'

In [29]:
df_tmdb = df_tmdb[["imdb_id", "original_language", "overview", "production_companies_name", "production_companies_country"]]
df_tmdb.head()

,imdb_id,original_language,overview,production_companies_name,production_companies_country
0,tt0029927,en,Blondie and Dagwood are about to celebrate the...,['Columbia Pictures'],['US']
1,tt0011436,de,NaN,[],[]
2,tt0055747,fr,Love at Twenty unites five directors from five...,"['Ulysse Productions', 'Unitec Films', 'Cinese...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,tt0094675,fi,Taisto Kasurinen is a Finnish coal miner whose...,['Villealfa Filmproductions'],['FI']
4,tt0092149,fi,"An episode in the life of Nikander, a garbage ...",['Villealfa Filmproductions'],['FI']

In [30]:
df_tmdb.isna().sum()

imdb_id                              0
original_language                    0
overview                         27060
production_companies_name            0
production_companies_country    145134
dtype: int64

In [31]:
df_imdb = pd.merge(df_imdb_final,  # DataFrame de gauche
         df_tmdb,  # DataFrame de droite
         how="left",  # Type de jointure : ici, une jointure gauche (left join)
         left_on='tconst',  # Colonne clÃ© du DataFrame de gauche
         right_on='imdb_id')  # Colonne clÃ© du DataFrame de droite

In [32]:
df_imdb.shape

(323913, 18)

In [33]:
df_imdb

,tconst,primaryTitle,startYear,runtimeMinutes,genres,originalTitle,averageRating,numVotes,nconst,category,characters,primaryName,primaryProfession,imdb_id,original_language,overview,production_companies_name,production_companies_country
0,tt0000009,Miss Jerry,1894,45,Romance,Miss Jerry,5.4,224.0,"[nm0183823, nm1309758, nm0085156]","[actor, actor, director]","[[""Mr. Hamilton""], [""Chauncey Depew - the Dire...","[William Courtenay, Chauncey Depew, Alexander ...","[actor, actor,writer, director,writer,cinemato...",NaN,NaN,NaN,NaN,NaN
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",The Corbett-Fitzsimmons Fight,5.3,558.0,[nm0714557],[director],[\N],[Enoch J. Rector],"[director,cinematographer,editor]",tt0000147,en,"This legendary fight was filmed on March 17, 1...",['Veriscope Company'],NaN
2,tt0000502,Bohemios,1905,100,\N,Bohemios,3.8,21.0,"[nm0215752, nm0252720, nm0063413]","[actor, actor, director]","[\N, \N, \N]","[Antonio del Pozo, El Mochuelo, Ricardo de BaÃ±os]","[actor, actor, director,cinematographer,writer]",NaN,NaN,NaN,NaN,NaN
3,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",The Story of the Kelly Gang,6.0,986.0,"[nm0846894, nm1431224, nm3002376, nm0143899, n...","[actor, actor, actor, actor, actor, actor, act...","[[""School Master""], [""Joe Byrne""], [""Steve Har...","[John Tait, Nicholas Brierley, Norman Campbell...","[producer,actor,archive_footage, actor, actor,...",tt0000574,en,Just as Galeen and Wegener's Der Golem (1915) ...,"['Johnson and Gibson', 'J. & N. Tait']","['', '']"
4,tt0000591,The Prodigal Son,1907,90,Drama,L'enfant prodigue,5.6,31.0,"[nm0906197, nm0332182, nm0141150]","[actor, actor, director]","[\N, \N, \N]","[Georges Wague, Henri Gouget, Michel CarrÃ©]","[actor, actor, director,writer,actor]",tt0000591,fr,The first feature-length motion picture produc...,['PathÃ© FrÃ¨res'],['FR']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323908,tt9916362,Coven,2020,92,"Drama,History",Akelarre,6.4,6042.0,"[nm0107165, nm0266723, nm3084436, nm1893148]","[actor, actor, actor, director]","[[""Rostegui""], [""Consejero""], [""Padre CristÃ³ba...","[Alex BrendemÃ¼hl, Daniel Fanego, Asier Oruesag...","[actor,writer,director, actor,editor,archive_f...",tt9916362,eu,"French Basque Country, year 1609. The men of a...","['INCAA', 'La FidÃ¨le Production', 'Lamia Produ...","['AR', 'FR', 'ES', 'FR', 'ES', 'ES', 'AR', 'ES..."
323909,tt9916428,The Secret of China,2019,\N,"Adventure,History,War",Hong xing zhao yao Zhong guo,4.7,22.0,"[nm3611859, nm9445072, nm8594703, nm3710453, n...","[actor, actor, actor, actor, actor, actor, act...","[[""Edgar Snow""], [""Mao Zedong""], [""Dr. Hatem""]...","[Kenan Heppe, Wang Peng Kai, Valery Gadreau, X...","[actor,writer,director, actor, actor, actor, a...",NaN,NaN,NaN,NaN,NaN
323910,tt9916538,Kuambil Lagi Hatiku,2019,123,Drama,Kuambil Lagi Hatiku,8.3,10.0,"[nm10041459, nm9321611, nm2933317, nm2999289, ...","[actor, actor, actor, actor, actor, actor, dir...","[[""Vikash""], [""Dimas""], [""Panji""], [""Parjo""], ...","[Sahil Shah, Dian Sidik, Dimas Aditya, Ence Ba...","[actor, actor, actor, actor, actor, actor, dir...",NaN,NaN,NaN,NaN,NaN
323911,tt9916706,Dankyavar Danka,2013,\N,Comedy,Dankyavar Danka,7.7,9.0,"[nm1778107, nm2585097, nm5697682, nm11280432, ...","[actor, actor, actor, actor, actor, actor, act...","[\N, \N, \N, \N, \N, \N, \N, \N]","[Makarand Anaspure, Anvay Bendre, Prakash Dhot...","[actor,director,producer, actor,miscellaneous,...",NaN,NaN,NaN,NaN,NaN
323912,tt9916730,6 Gunn,2017,116,Drama,6 Gunn,7.0,13.0,"[nm6096005, nm0059461, nm13233318, nm4852679, ...","[actor, actor, actor, actor, actor, actor, dir...","[\N, \N, [""Vishal""], \N, \N, \N, \N]","[Devadhar Archit, Sunil Barve, Ganesh Vasant P...","[actor, actor,music_department, production_man...",NaN,NaN,NaN,NaN,NaN

In [34]:
df_imdb.to_csv('df_imdb.csv', index=False)